header {
    background: green;
    
}

h1 {
    text-align: center;
    color: white;
    font: bold 30px arial, sans-serif;
    padding: 10px;
    border-bottom: 5px solid grey;
}

li {
    font: 18px arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 60px;
}

h2 {
    font: 30px arial, sans-serif;
    background: seagreen;
    border-bottom: 5px solid grey;
    margin-top: 20px;
    text-align: center;
}

div {
    background: white;
    border-top: 1px solid grey;
    border-left: 6px solid black;
    border-right: 1px solid grey;
    border-bottom: 2px solid grey;
    padding-left: 30px;
    padding-right: 15px;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: 0 auto 0 auto; */
    margin: 0 auto;
    max-width: 500px;
}

span {
    display: block;
    float: right;
}

article ol li {
    margin: 0 auto;
}